
.pl_2{padding-left: 16px;}


.pr_2{padding-right: 16px;}

.pt_1{padding-top: 8px;}

.pb_1{padding-bottom: 8px;}
.pb_2{padding-bottom: 16px;}
.pb_3{padding-bottom: 20px;}
.pb_4{padding-bottom: 32px;}
.pb_8{padding-bottom: 64px;}

.ml_1{margin-left: 8px;}
.mb_4{margin-bottom: 30px;}
.m_tb{margin: 64px 0px;}

.wh_3{width: 24px;}
.ht_s{height: 207px;}

/*文字大小*/
.fs_2{font-size: 16px;}
.fs_2_20{font-size: 20px;}
.fs_3{font-size: 24px;}
.fs_5{font-size: 36px;}

/*圓弧*/
.br_2{border-radius: 20px;}


.background_enactment{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}